*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
npm-debug.log
web/ngrok
/Backend/DistrictsInTown.Api/packages/RestSharp.105.1.0
/Backend/DistrictsInTown.Api/packages/Microsoft.AspNet.WebApi.5.2.2
/Backend/DistrictsInTown.Api/packages/Microsoft.AspNet.WebApi.Client.5.2.2
/Backend/DistrictsInTown.Api/packages/Microsoft.AspNet.WebApi.Core.5.2.2
/Backend/DistrictsInTown.Api/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2
/Backend/DistrictsInTown.Api/packages/Newtonsoft.Json.6.0.4
obj
bin
obj
bin
RestSharp.105.1.0
Microsoft.AspNet.WebApi.5.2.2
Microsoft.AspNet.WebApi.Client.5.2.2
Microsoft.AspNet.WebApi.Core.5.2.2
Microsoft.AspNet.WebApi.WebHost.5.2.2
Newtonsoft.Json.6.0.4
